<div class="top-wrapper">
  <div class="top-inner">
    <div class="top-inner-text">
      <%= image_tag "app_logo.png", size:'240x240' %>
      <h1>Smart Phone Choice</h1>
      <p class="lead">もう騙されない、損しない。</p>
      <p class="lead">賢いスマホの買い方・料金プランの選び方をサポート</p>
      <p class="lead">みんなの声を参考に、</p>
      <p class="lead">あなただけの最適プランを見つけよう！</p>
    </div>
  </div>
</div>