<div class="top-wrapper">
  <div class="top-inner"> 
    <div class="top-inner-text">
      <h1>Smart Phone Choice</h1>
      <p>もう騙されない、損しない。</p>
      <p>賢いスマホの買い方・料金プランの選び方をサポート</p>
      <p>みんなの声を参考に、</p>
      <p>あなただけの最適プランを見つけよう！</p>
    </div>
  </div>
</div>