<div class="top-wrapper">
  <div class="top-inner">
    <div class="top-inner-text">
      <%= image_tag "app_logo.png", size:'140x140' %>
      <h1>Smart Phone Choice</h1>
      <p class="lead">もう騙されない、損しない。</p>
      <p class="lead">賢いスマホの買い方・料金プランの選び方をサポート</p>
      <p class="lead">みんなの声を参考に、あなただけの最適プランを見つけよう！</p>
      <h5> ユーザー登録せずに、触ってみる！！ </h5>
      <%= link_to "投稿一覧", posts_path, class: "btn btn-primary btn-lg mt-3" %>
      <%= link_to "購入診断", question1_buy_diagnoses_path, class: "btn btn-primary btn-lg mt-3" %>
      <%= link_to "プラン診断", plan_diagnoses_path, class: "btn btn-primary btn-lg mt-3" %>

    </div>
  </div>
</div>