<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1>自分の投稿</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% @posts.each do |post| %>
          <%= render partial: 'posts/post', locals: { post: post } %>
        <% end %>
      </div>
    </div>
  </div>
</div>