<div class="container">
  <div class="text-center mb-5">
    <h1>購入診断</h1>
      <p> ここでは合計6つの質問から構成されています。</p>
      <p> その質問の回答によって、質問内容が変更されて回答も変わる仕組みになっています。</p>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>質問4</h3>
    </div>
    <div class="card-body">
      <p class="card-text">次商品の購入に大事なことはなんですか？</p>
      <div class="text-center">
        <%= link_to 'できる限り安く買いたい', question5_buy_diagnoses_path , class:"btn btn-primary"%>
        <%= link_to '高くてもいいので相談しながら購入したい', question6_buy_diagnoses_path , class:"btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <%= link_to '前のページに戻る', :back %>
  </div>
</div>