<h1>質問1</h1>
<p>次に買う端末は新しい端末がいい？それとも古い端末や中古を買おうと思っている？</p>

<%= link_to '新品', question2_buy_diagnoses_path , class:"btn btn-primary"%>
<%= link_to '古い端末または中古可', question3_buy_diagnoses_path , class:"btn btn-primary" %>
<div class="text-center">
  <%= link_to '前のページに戻る', :back %>
</div>