<div class="container">
  <div class="text-center mb-5">
    <h1>購入診断</h1>
      <p> ここでは合計6つの質問から構成されています。</p>
      <p> その質問の回答によって、質問内容が変更されて回答も変わる仕組みになっています。</p>
  </div>

  <div class="container py-4">
    <div class="card">
      <div class="card-header">
        <h3>質問5</h3>
      </div>
      <div class="card-body">
        <p class="card-text mb-4">スマホの購入は決まったものを購入したいですか？</p>
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <%= link_to manufacturer_direct_sale_path, class: "btn btn-outline-primary btn-lg w-100 mb-3 text-start" do %>
              だいたい決まっている
            <% end %>
            <%= link_to major_ec_site_path, class: "btn btn-outline-primary btn-lg w-100 mb-3 text-start" do %>
              あまり決まっていない
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <%= link_to '前のページに戻る', :back %>
  </div>
</div>