<h1>質問5</h1>
<p>スマホの購入は決まったものを購入したい？</p>

<%= link_to 'だいたい決まっている', question6_buy_diagnoses_path , class:"btn btn-primary"%>
<%= link_to 'あまり決まっていない', question4_buy_diagnoses_path , class:"btn btn-primary" %>
<div class="text-center">
  <%= link_to '前のページに戻る', :back %>
</div>