<div class="container">
  <div class="text-center mb-5">
    <h1>購入診断</h1>
      <p> ここでは合計6つの質問から構成されています。</p>
      <p> その質問の回答によって、質問内容が変更されて回答も変わる仕組みになっています。</p>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>質問6</h3>
    </div>
    <div class="card-body">
      <p class="card-text">購入時のサポートについてですか？</p>
      <div class="text-center">
        <%= link_to 'オンラインでの購入で十分', carrier_online_shop_path , class:"btn btn-primary"%>
        <%= link_to '複数の会社の料金プランの比較まで聞きたい', electronics_retailer_path , class:"btn btn-primary" %>
        <%= link_to '料金プランだけでなく初期設定やデータ移行までサポートしてほしい', carrier_shop_path , class:"btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <%= link_to '前のページに戻る', :back %>
  </div>
</div>