<h1>質問2</h1>
<p>今回の購入で通信キャリアを変更する予定はありますか？</p>

<%= link_to '通信キャリアを変える', question6_buy_diagnoses_path , class:"btn btn-primary"%>
<%= link_to 'そのまま使う', question4_buy_diagnoses_path , class:"btn btn-primary" %>
<div class="text-center">
  <%= link_to '前のページに戻る', :back %>
</div>