<h1>質問4</h1>
<p>商品の購入に大事なことは？</p>

<%= link_to 'できる限り安く買いたい', question5_buy_diagnoses_path , class:"btn btn-primary"%>
<%= link_to '高くてもいいので相談しながら購入したい', question6_buy_diagnoses_path , class:"btn btn-primary" %>
<div class="text-center">
  <%= link_to '前のページに戻る', :back %>
</div>