<h1>通知一覧</h1>

<ul>
  <% @notifications.each do |notification| %>
    <li>
      <% if notification.notifiable_type == 'Favorite' %>
        <%= render partial: 'favorite_notification', locals: { notification: notification } %>
      <% elsif notification.notifiable_type == 'Comment' %>
        <%= render partial: 'comment_notification', locals: { notification: notification } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @notifications %>