<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h2 class="text-center mt-5 mb-4">マイプロフィール</h2>

      <div class="p-4 border rounded">
        <div class="mb-3">
          <p>名前: <%= @user.name %></p>
        </div>
        <div class="mb-3">
          <p>メールアドレス: <%= @user.email %></p>
        </div>

        <div class="text-center">
          <%= link_to 'プロフィールを編集', edit_my_profile_path, class: "btn btn-primary" %>
        </div>
      </div>

    </div>
  </div>
</div>