<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <ul class='list-unstyled'>
        <li><a href="#">利用規約</a></li>
        <li><a href="#">プライバシーポリシー</a></li>
        <li><a href="#">お知らせ</a></li>
        <li><a href="#">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>