<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <ul class='list-unstyled'>
          <li><%= t('footer.terms_of_service') %></li>
          <li><%= t('footer.privacy_policy') %></li>
          <li><%= t('footer.news') %></li>
          <li><%= t('footer.contact') %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>