/* Error: Expected ".
 *   ,
 * 9 | @import "posts/search_form.scss”
 *   |                                 ^
 *   '
 *   app/assets/stylesheets/application.bootstrap.scss 9:33  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Expected ".\a   \2577 \a 9 \2502  @import "posts/search_form.scss\201d \a   \2502                                  ^\a   \2575 \a   app/assets/stylesheets/application.bootstrap.scss 9:33  root stylesheet';
}
