<h1>楽天市場の商品一覧</h1>
<ul>
  <% @items.each do |item| %>
    <li>
      <%= link_to item['itemName'], item['itemUrl'] %>
      <br>
      <%= image_tag item['mediumImageUrls'][0] %>
      <br>
      <%= item['itemPrice'] %>円
    </li>
  <% end %>
</ul>
