<!-- 検索候補 -->
<% if candidates.any? %>
  <ul class="search-candidates-list">
    <% candidates.each do |candidate| %>
      <li class="candidate-item"
          data-action="click->search#selectCandidate"
          data-search-value="<%= candidate %>">
          data-post-id="<%= candidate.id %>">
          <!-- 検索候補の文字数を20文字の表記 -->
        <%= link_to truncate(highlight(candidate.title, params[:keyword]), length: 20), post_path(candidate) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>検索候補がありません</p>
<% end %>