<%= search_form_for @q, url: url, html: { class: "search-form" } do |f| %>
  <div class="search-form-container">
    <div class="search-item">
      <%= f.label :title_eq, "タイトル", class: "form-label" %>
      <%= f.select :title_eq, Post.titles.keys.map { |k| [Post.titles_i18n[k], k] }, { include_blank: '選択してください' }, { class: 'form-select' } %>
    </div>

    <div class="search-item">
      <%= f.submit '検索', class: 'btn btn-primary search-button' %>
    </div>
  </div>
<% end %>