.navbar {
  background-color: #141432;; // 濃い青を設定
  color: hsl(0, 0%, 92%);
}

.navbar-brand {
  color: hsl(0, 0%, 92%); // ブランド名を白に設定
}

.nav-link {
  color: hsl(0, 0%, 92%); //リンクを白に設定
}

.navbar a[title="Twitter"] {
  color: hsl(0, 0%, 92%);
}