.navbar {
  background-color: #141432; // 濃い青を設定
}

.navbar-brand {
  color: hsl(0, 0%, 92%); // ブランド名を白に設定
  font-size:xx-large;
  font-family: Georgia, serif;
}

.nav-link {
  color: hsl(0, 0%, 92%); //リンクを白に設定
}
