<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>大手キャリアオンラインプラン（ahamo, povo, linemo）</h1>
      <p class="lead">
        ＃特に家族やネットをまとめていない方（割引が該当しずらい人）<br>
        ＃電波の質もそこそこ良くて、価格も安くしたい<br>
        ＃料金プランの選択肢が豊富<br>
        ＃とりあえず料金プランで困ったらここを
      </p>

      <h4>①特徴</h4>
      <ul>
        <li>オンライン手続き限定で、シンプルで分かりやすいプラン</li>
        <li>大手キャリアの回線を利用できる</li>
        <li>比較的低価格</li>
      </ul>

      <h4>②家族割/光セット割</h4>
      <ul>
        <li>家族割：なし</li>
        <li>光セット割：なし（一部例外あり）</li>
      </ul>

      <h4>③料金</h4>
      <ul>
        <li>プランごとの月額料金、通話料金、データ通信料金</li>
        <li>割引キャンペーン</li>
      </ul>

      <h4>④メリット</h4>
      <ul>
        <li>大手キャリアの回線品質を低価格で利用できる</li>
        <li>オンラインで簡単に手続きできる</li>
        <li>不要なオプションがない</li>
      </ul>

      <h4>⑤デメリット</h4>
      <ul>
        <li>店舗でのサポートがない</li>
        <li>電話サポートが有料の場合がある</li>
        <li>プラン変更やオプション追加が制限される場合がある</li>
      </ul>

      <h4>⑥どんな人におすすめか</h4>
      <ul>
        <li>大手キャリアの回線品質を低価格で利用したい人</li>
        <li>オンラインでの手続きのみで完結したい人</li>
        <li>シンプルなプランを求める人</li>
      </ul>

      <h4>⑦どんな人におすすめじゃないか</h4>
      <ul>
        <li>店舗でのサポートを求める人</li>
        <li>多様なオプションを求める人</li>
        <li>家族割や光回線とのセット割を活用したい人</li>
      </ul>

      <h4>⑧上手に使うには</h4>
      <ul>
        <li>データ利用量に合わせてプランを選ぶ</li>
        <li>キャンペーンや特典を活用する</li>
        <li>不要なオプションはつけない</li>
      </ul>

      <h4>⑨主な料金プラン</h4>
      <ul>
        <li>ahamo: 20GB（2,970円）、100GB（6,600円）</li>
        <li>povo: 基本料金0円。1日無制限（300円）、30日間:3GB（900円）20GB:（2,700円）</li>
        <li>linemo: ベストプラン: 900円~1,900円（3GB～10GB）、ベストプランV: 2,700円~3,600円（20GB～30GB）</li>
      </ul>

      <h3>⑩作者の一言(参考程度に)</h3>
      <p>
      迷ったらここ。
      小容量ユーザーはpovo、中容量ユーザーはLinemoかahamo、大容量ユーザーはahamo,かpovoと選択肢が豊富なため、とにかくおすすめ。
      端末をすでに購入をしてから、このプランに移動しよう。
      また、ahamoはdocomoの家族割の対処ユーザーにはなるけど、povoは違うというような内容もあるため、乗り換え時には一度最新の情報や注意事項を読んでおこう
      </p>
    </div>
    <div class="text-center">
      <%= link_to '前のページに戻る', :back %>
    </div>
  </div>
</div>