<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>大手キャリアサブブランド（irumo, UQモバイル, Yモバイル）</h1>
      <p class="lead">
        ＃家族ユーザーまたは、ネットも一緒にまとめて契約したい人<br>
        ＃価格と電波の質のバランスを取りたい人<br>
        ＃利用量は比較的少なめ～若干多めぐらいの人<br>
        ＃家族層とネットも一緒に検討したい方、店に行く選択肢も捨てたくない人
      </p>

      <h4>①特徴</h4>
      <ul>
        <li>大手キャリアの回線を利用できる</li>
        <li>メインブランドより低価格</li>
        <li>店舗でのサポートも受けられる</li>
      </ul>

      <h4>②家族割/光セット割</h4>
      <ul>
        <li>家族割：あり（一部ブランドのみ）</li>
        <li>光セット割：あり（一部ブランドのみ）</li>
      </ul>

      <h4>③料金</h4>
      <ul>
        <li>プランごとの月額料金、通話料金、データ通信料金</li>
        <li>家族割、光回線とのセット割などの割引</li>
      </ul>

      <h4>④メリット</h4>
      <ul>
        <li>大手キャリアの回線品質を比較的低価格で利用できる</li>
        <li>店舗でのサポートを受けられる</li>
        <li>メインブランドより手続きが簡略化されている場合がある</li>
      </ul>

      <h4>⑤デメリット</h4>
      <ul>
        <li>メインブランドと比べてプランやオプションが少ない</li>
        <li>オンライン専用プランと比べて割高な場合がある</li>
      </ul>

      <h4>⑥どんな人におすすめか</h4>
      <ul>
        <li>大手キャリアの回線品質を低価格で利用したい人</li>
        <li>店舗でのサポートも欲しい人</li>
        <li>メインブランドより手続きを簡略化したい人</li>
      </ul>

      <h4>⑦どんな人におすすめじゃないか</h4>
      <ul>
        <li>料金を最重視する人</li>
        <li>オンライン手続きのみで完結したい人</li>
        <li>家族割引、光回線割引どちらもない人</li>
      </ul>

      <h4>⑧上手に使うには</h4>
      <ul>
        <li>家族割や光回線とのセット割を活用する</li>
      </ul>

      <h4>⑨主な料金プラン</h4>
      <ul>
        <li>irumo: 0.5GB（550円）、3GB（990円）、10GB（1,540円）、20GB（1,980円）</li>
        <li>UQモバイル: くりこしプラン +5G（3GB、1,628円）、くりこしプラン +5G（20GB、3,278円）</li>
        <li>Yモバイル: シンプルS（3GB、1,980円）、シンプルM（15GB、2,980円</li>
      </ul>

      <h3>⑩作者の一言(参考程度に)</h3>
      <p>
      作者自身が使ったことはないが、バランスが取れた料金プラン。
      余談だが、docomoのirumoプランは通信の混み合う環境では一時的に電波が遅くなる場合や、家族間通話が無料でないことから、サブブランド扱いをしている。
      そのためほぼdocomoのサブブランドがirumoと覚えといて頂ければ。
      ネットもしくは光の契約がある方で店頭に行く可能性を残したいユーザーはオンラインプランより継続利用する上では楽ではある。
      </p>
    </div>
    <div class="text-center">
      <%= link_to '前のページに戻る', :back %>
    </div>
  </div>
</div>