$base-font-size: 0.8rem;

.search-form {
  font-size: $base-font-size;
  padding: 20px; // フォーム全体に余白を追加

  .form-label {
    margin-bottom: 0.2rem; 
  }

  .form-control {
    height: calc(1.5em + 0.5rem + 2px); 
  }

  .form-select {
    padding: 0.125rem 0.25rem;
  }

  .search-form-container {
    display: flex;
    flex-direction: row;
    gap: 1rem; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    align-items: center;
  }

  .search-item {
    flex: 1 0 100px; // flex-growの値を調整
  }

  .search-button {
    padding: 0.5rem 1rem;
    width: 100px; 
  }
}